fieldset{
    margin-left: 60%;
    background-color: #1a5276;
}

form#formulario{
    font-size: 100px;
    width: 50%;
}

ul li{
    list-style: none;
    font-size: 30px;
    margin-top: 10px;
}

input.campos1{
    width: 100%;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    background-color:#2196f3;
}

ul li.seleccion{
    font-size: 20px;
}

div#EXP{
    font-size: 20px;
    margin-top: 1em;
}

input#level{
    margin-top: 30px;
    width: 600px;
}

input.check{
    float: left;
}

#mensaje {
    display: none;
    text-align: center;
    font-size: 100px;
    margin-top: 20%;
}

.botones{
    width: 100%;
    border: none;
    font-size: 20px;
    background-color:#2196f3 ;
    margin-top: 50px;
}

textarea{
    background-color: #2196f3;
    font-size: 20px;
    margin-top: 20px;
}